---
layout: default
title: 蒋著[tudousi] - 博客
---

<div id="home">
  <h1>JAVASCRIPT</h1>
  <ul class="posts">
    {% for post in site.tags.javascript limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <a href="/javascript.html">更多</a>
  </ul>
  
  <h1>HTML/CSS</h1>
  <ul class="posts">
    {% for post in site.tags.htmlcss limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <a href="/htmlcss.html">更多</a>
  </ul>
  
  
  <h1>开发工具</h1>
  <ul class="posts">
    {% for post in site.tags.tools limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <a href="/tools.html">更多</a>
  </ul>
  
</div>
